<!DOCTYPE html>
<head>
  <title>Hunter CS Syllabi</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/style.css">
  <link rel="icon" href="assets/images/favicon.ico" type="image/gif">
</head>

<body>

  <header>
	<div class="hacker_container">
	  <h1>CUNY Hunter's CS Syllabi Directory</h1>
	  <h2>This site will hold the syllabi for computer science courses at Hunter College</h2>

	  <section id="downloads">
		<a href="https://github.com/RichAguil/HunterCS_CourseSyllabi" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
	  </section>
	</div>
  </header>

  {{content}}

</body>
</html>
